<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7"
    />

    <title>SME Summit 2019 - Register for Volunteers</title>
    <meta
      name="description"
      content="SME Summit 2019 - IT Transformation for Non-Tech Company"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://phpid-jakarta.github.io/assets/favicon/favicon-16x16.png"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|PT+Sans+Caption"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header_sticky">
      <nav class="level header_wrapper">
        <div class="level-item has-text-centered">
          <img
            class="brand-logo"
            src="https://phpid-jakarta.github.io/assets/images/phpid-jakarta.png"
            alt=""
            style="height: 30px;"
          />
        </div>
        <!-- DESKTOP MENU -->
        <div class="level-item has-text-centered is-hidden-mobile nav-right">
          <nav class="level">
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#home">Home</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#about">About</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#register">Register</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#sponsors">Sponsors</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#speakers">Speakers</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#volunteers">Volunteers</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#location">Location</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/faq">FAQ</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/contact">Contact</a>
            </p>
          </nav>
        </div>
        <!-- BURGER MENU -->
        <div class="level-item burger">
          <span></span> <span></span> <span></span>
        </div>
        <!-- MOBILE MENU -->
        <div class="mobile-menu">
          <nav class="level">
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#home">Home</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#about">About</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#register">Register</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#sponsors">Sponsors</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#speakers">Speakers</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#volunteers">Volunteers</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/#location">Location</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/faq">FAQ</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link caption-text" href="/contact">Contact</a>
            </p>
          </nav>
        </div>
      </nav>
    </header>

    <section id="home" class="hero is-fullheight is-welcome-cover rellax">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="block">
                <div class="hero-content has-text-white">
                  <h1
                    id="conf_title"
                    class="is-size-1 has-text-white caption-text"
                  >
                    SME Summit 2019
                  </h1>
                  <h2 class="is-size-3 has-text-white caption-text">
                    IT TRANSFORMATION FOR NON-TECH COMPANY
                  </h2>
                  <br />
                  <p class="is-size-5" style="line-height: 2;">
                    <svg
                      fill="#fff"
                      width="1.5em"
                      height="1.5em"
                      style="margin-bottom: -7px;"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M424 96h-40v24c0 4.4-3.6 8-8 8h-16c-4.4 0-8-3.6-8-8V96H160v24c0 4.4-3.6 8-8 8h-16c-4.4 0-8-3.6-8-8V96H88c-22 0-40 18-40 40v272c0 22 18 40 40 40h336c22 0 40-18 40-40V136c0-22-18-40-40-40zm8 300c0 11-9 20-20 20H100c-11 0-20-9-20-20V216c0-4.4 3.6-8 8-8h336c4.4 0 8 3.6 8 8v180zM160 72c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v24h32V72zm224 0c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v24h32V72z"
                      ></path>
                    </svg>
                    Jakarta, 25 April 2019
                  </p>
                  <p class="is-size-5" style="line-height: 2;">
                    <svg
                      fill="#fff"
                      width="1.5em"
                      height="1.5em"
                      style="margin-bottom: -7px;"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M256 48c-79.5 0-144 59.9-144 133.7 0 104 144 282.3 144 282.3s144-178.3 144-282.3C400 107.9 335.5 48 256 48zm0 190.9c-25.9 0-46.9-21-46.9-46.9s21-46.9 46.9-46.9 46.9 21 46.9 46.9-21 46.9-46.9 46.9z"
                      ></path>
                    </svg>
                    Ballroom Ayana Hotel Midplaza, Jakarta
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="reg-volunteer" class="section reg-volunteer">
      <h2 class="title has-text-centered caption-text">
        REGISTER FOR VOLUNTEERS
      </h2>

      <form class="form">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Your Name" />
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              class="input"
              type="email"
              placeholder="Ex: example@mail.com"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Phone/WA/Telegram</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Ex: 0812-123-456-789-00, @your.telegram"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Tell Us why you interest to help</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Ex: I always like to helping community in organizing an event"
            ></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <a class="button is-text" href="/">Cancel</a>
          </div>
        </div>
      </form>
    </section>

    <footer class="footer has-text-centered">
      <p>Organized by PHP Indonesia</p>

      <figure class="image">
        <picture>
          <source
            type="image/webp"
            srcset="/images/organizer/phpid-300x122.webp"
          />
          <img
            class="organizer__logo"
            src="/images/organizer/phpid-300x122.png"
            alt="PHP Indonesia"
          />
        </picture>
      </figure>

      <p>Copyright © 2019</p>
    </footer>
  </body>
</html>
