$theme: #2779d6;
$text-color: #3d4044;
$overlay-theme: rgba(38, 121, 214, .4);

%gradient{
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


%gradient-important{
  background: #36D1DC !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: 'Roboto', sans-serif;
}
.hidden{
  display: none;
}
.gradient-section {
  @extend %gradient;
  padding: 7em 1em;
  margin: 0 auto 8rem auto;
}

.typed-container{
  padding-top: 1em;
}

.button.is-large {
  font-size: 1rem;
  padding: 2em;
}

.caption-text {
  font-family: 'PT Sans Caption', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.is--have-bg {
  @extend %gradient-important;
}

.header_sticky {
  background-color: transparent !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.brand-logo {
  background-color: #fff;
  padding: .25em;
  border-radius: .25em;
  margin-right: 1em;
}

.header_wrapper {
  height: 70px;
  padding: 1em;
  .link {
    color: #fff;
    padding: 1em;
    font-weight: 600;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 0.2em;

    &:hover {
      background-color: $overlay-theme;
    }
  }
}

#particle{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero.is-welcome-cover {
  @extend %gradient;
  height: 100vh;
  margin-bottom: 10rem;
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    content: ' ';
    background-image: url(/images/banner/bg-bottom.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.hero-body{
  z-index: 9;
}
.hero-content {
  background-color: rgba(38, 121, 214, .9);
  padding: 1em;
}

.section {
  margin: 0 auto 8rem auto;
  padding: 0 1rem;
  max-width: 960px;
  p {
    padding-top: 1em;
  }
  .title-section {
    color: $theme;
  }
}

section#register {

  &:after {
    position: absolute;
    z-index: 5;
    margin-top: 70px;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    content: ' ';
    background-image: url(/images/banner/bg-bottom.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.location {
  .level-item {
    padding: 1em;
    img {
      height: 300px;
    }
  }
}

.btn-call {
  margin-top: 3em;
}

.list-ol {
  text-align: left;
  line-height: 2;
  li {
    padding: .5em;
  }
}

.footer{
  &_container {
    @extend %gradient;
    padding: 1em 0;
    p {
      color: #fff;
    }
  }
}

.sitemap{
  text-align: left;
  line-height: 2;
  &__wrapper{
    text-align: left;
  }
  .has-text-weight-bold{
    padding-bottom: .5em;
  }
  &__item{
    color: #fff;
    a{
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.is--have-bg{
  .burger{
    color: #fff;
  }
}
.burger {
  color: #000;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.mobile-menu{
  position: absolute;
  right: 50px;
  top: 45px;
  background-color: $overlay-theme;
  display: none;
  &.is-active{
    display: block;
  }
  .level-item{
    border: 1px solid #fff;
    .link {
      padding: .5em;
    }
  }
}
.organizer{
  &__logo{
    margin: 0 auto;
    width: 200px !important;
  }
}

.image.is-200x200 {
  height: 200px;
  width: 200px;
}
.speakers{
  .level{
    flex-wrap: wrap;
  }
  .level-item{
    margin: 1em .5em;
  }
}
.speaker{
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__name {
    padding: 1em;
    text-align: center;
    h2{
      font-size: 2rem;
    }
    h3{
      font-size: 1rem;
    }
  }
}
// media screen on mobile
@media screen and (max-width: 768px) {
  .header_wrapper{
    display: flex;
    .level-item:not(:last-child) {
        margin-bottom: 0;
    }
  }
  .hero.is-welcome-cover {
    margin-bottom: 2rem;
  }
  .hero-content {
    padding: .25em;
  }
  .is-size-1 {
    font-size: 2rem !important;
  }
  .is-size-3 {
    font-size: 1.2rem !important;
  }
  .is-size-5 {
    font-size: 1rem !important;
  }
  .list-ol {
    text-align: center;
    list-style: none;
  }

  .sitemap{
    text-align: center;
    &__wrapper{
      text-align: center;
    }
  }
  .columns{
    margin: 0!important;
  }
}

// media screen on not mobile
@media screen and (min-width: 768px) {
  .burger, .hide-in-desktop{
    display: none;
  }
}
