body{
  font-family: 'Roboto', sans-serif;
}

.caption-text{
  font-family: 'PT Sans Caption', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.header_sticky{
  background: transparent !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.is--have-bg{
  background-color: #000 !important;
}
.header_wrapper{
  height: 70px;
  padding: 1em;

  .link{
    color: #fff;
    padding: 1em;
    font-weight: 600;

    &:hover{
      background-color: rgba(0,0,0,.7);
    }
  }
}

.hero.is-welcome-cover {
  background: url(/images/banner/building.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 10rem;
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content{
  background-color: rgba(0,0,0,.7);
  padding: 1em;
}
.section{
  margin: 0 auto 8rem auto;
  padding: 0 1rem;
  max-width: 960px;

  p{
    padding-top: 1em;
  }

}
.location{
  .media{
    img{
      height: 300px;
    }
  }
}
.btn-call{
  margin-top: 3em;
}
.list-ol{
  text-align: left;
  line-height: 2;

  li{
    padding: .5em;
  }
}
.footer{
  background-color: #000;
  p {
    color: #fff;
  }
}
