$theme: #2779d6;
$text-color: #3d4044;
$overlay-theme: rgba(38, 121, 214, .4);

body {
  font-family: 'Roboto', sans-serif;
}

.button.is-large {
  font-size: 1rem;
  padding: 2em;
}

.caption-text {
  font-family: 'PT Sans Caption', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header_sticky {
  background: transparent !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.is--have-bg {
  background-color: $theme !important;
  .brand-logo {
    background-color: #fff;
    padding: .25em;
    border-radius: .25em;
  }
}

.header_wrapper {
  height: 70px;
  padding: 1em;
  .link {
    color: #fff;
    padding: 1em;
    font-weight: 600;
    &:hover {
      background-color: $overlay-theme;
    }
  }
}

.hero.is-welcome-cover {
  background: url(/images/banner/building.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 10rem;
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background-color: $overlay-theme;
  padding: 1em;
}

.section {
  margin: 0 auto 8rem auto;
  padding: 0 1rem;
  max-width: 960px;
  p {
    padding-top: 1em;
  }
  .title-section {
    color: $theme;
  }
}

.location {
  .level-item {
    padding: 1em;
    img {
      height: 300px;
    }
  }
}

.btn-call {
  margin-top: 3em;
}

.list-ol {
  text-align: left;
  line-height: 2;
  li {
    padding: .5em;
  }
}

.footer{
  &_container {
    background-color: $theme;
    padding: 1em 0;
    p {
      color: #fff;
    }
  }
}

.sitemap{
  text-align: left;
  line-height: 2;
  &__wrapper{
    text-align: left;
  }
  .has-text-weight-bold{
    padding-bottom: .5em;
  }
  &__item{
    color: #fff;
    a{
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.is--have-bg{
  .burger{
    color: #fff;
  }
}
.burger {
  color: #000;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;

  &.is-active {
    span {
      &:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }

  span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, -webkit-transform;
    transition-property: background-color, opacity, transform;
    transition-property: background-color, opacity, transform, -webkit-transform;
    transition-timing-function: ease-out;
    width: 16px;
    &:nth-child(1) {
      top: calc(50% - 6px);
    }
    &:nth-child(2) {
      top: calc(50% - 1px);
    }
    &:nth-child(3) {
      top: calc(50% + 4px);
    }
  }
}
.mobile-menu{
  position: absolute;
  right: 50px;
  top: 45px;
  background-color: $overlay-theme;
  display: none;
  &.is-active{
    display: block;
  }
  .level-item{
    border: 1px solid #fff;
  }
}
.organizer{
  &__logo{
    margin: 0 auto;
    width: 200px !important;
    filter: invert(100%);
  }
}
// media screen on mobile
@media screen and (max-width: 768px) {
  .header_wrapper{
    display: flex;
    .level-item:not(:last-child) {
        margin-bottom: 0;
    }
  }
  .hero-content {
    padding: .25em;
  }
  .is-size-1 {
    font-size: 2rem !important;
  }
  .is-size-3 {
    font-size: 1.2rem !important;
  }
  .is-size-5 {
    font-size: 1rem !important;
  }
  .list-ol {
    text-align: center;
    list-style: none;
  }

  .sitemap{
    text-align: center;
    &__wrapper{
      text-align: center;
    }
  }
}

// media screen on not mobile
@media screen and (min-width: 768px) {
  .burger, .hide-in-desktop{
    display: none;
  }
}
